<section id="experiencia" class="about">
  <div class="container text-center">
  
    <div class="row">
      <div class="col-8 mt-4">
        <h3>Experiencia laboral</h3><i class="fa-solid fa-plus text-black" type="button" data-bs-toggle="modal" data-bs-target="#modal-experiencia"></i>

        <div class="modal fade" id="modal-experiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Experiencia Laboral</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
              </div>
        
              <form [formGroup]="form" name="experienciasForm" (ngSubmit)="form.valid && onCreate()">
                <div class="modal-body">
        
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="experienciaEmpresa" class="col-form-label">Empresa</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="experienciaEmpresa" placeholder="Nombre de la empresa" formControlName="empresa" [(ngModel)]="empresa" [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid': !Empresa?.errors && Empresa?.touched}">
                    </div>
                    <div *ngIf="Empresa?.errors && Empresa?.touched">
                      <p *ngIf="Empresa?.hasError('required')" class="text-danger"> La Empresa es requerida </p>
                    </div>
                  </div>
        
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="experienciaPuesto" class="col-form-label">Puesto</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="experienciaPuesto" placeholder="Puesto laboral" formControlName="puesto" [(ngModel)]="puesto" [ngClass]="{'is-invalid': Puesto?.errors && Puesto?.touched, 'is-valid': !Puesto?.errors && Puesto?.touched}">
                    </div>
                    <div *ngIf="Puesto?.errors && Puesto?.touched">
                      <p *ngIf="Puesto?.hasError('required')" class="text-danger"> El Puesto laboral es requerido </p>
                    </div>
                  </div>
        
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="experienciaDuracion" class="col-form-label">Duración</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="experienciaDuracion" placeholder="Cuánto tiempo duró esta experiencia" formControlName="duracion" [(ngModel)]="duracion" [ngClass]="{'is-invalid': Duracion?.errors && Duracion?.touched, 'is-valid': !Duracion?.errors && Duracion?.touched}">
                    </div>
                    <div *ngIf="Duracion?.errors && Duracion?.touched">
                      <p *ngIf="Duracion?.hasError('required')" class="text-danger"> La duración de esta experiencia es
                        requerida </p>
                    </div>
                  </div>
        
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="experienciaInicio" class="col-form-label">Inicio</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="experienciaInicio" placeholder="Año de inicio"
                        formControlName="inicio" [(ngModel)]="inicio"
                        [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched, 'is-valid': !Inicio?.errors && Inicio?.touched}">
                    </div>
                    <div *ngIf="Inicio?.errors && Inicio?.touched">
                      <p *ngIf="Inicio?.hasError('required')" class="text-danger"> La fecha de inicio es requerida </p>
                    </div>
                  </div>
        
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="experienciaFin" class="col-form-label">Fin</label>
                    </div>
                    <div class="col-auto">
                      <input type="text" class="form-control" id="experienciaFin" placeholder="Año de finalización"
                        formControlName="fin" [(ngModel)]="fin"
                        [ngClass]="{'is-invalid': Fin?.errors && Fin?.touched, 'is-valid': !Fin?.errors && Fin?.touched}">
                    </div>
                    <div *ngIf="Fin?.errors && Fin?.touched">
                      <p *ngIf="Fin?.hasError('required')" class="text-danger"> La fecha de finalización es requerida </p>
                    </div>
                  </div>
        
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onEnviar($event); ngOnInit();">Guardar</button>
                  </div> 
                
                </div>
              </form>

            </div>
          </div>
        </div>    

        <div *ngFor="let experiencia of experiencias">
          <div class="row">
            <div class="col-11 mt-3" >
              <h6 class="wt-1 pt-2">
                {{ experiencia.empresa }} - {{ experiencia.puesto }} - {{ experiencia.duracion }} - {{ experiencia.inicio}} / {{ experiencia.fin}}
              </h6>
            </div>
            
            <div class="col-1 mt-2 container text-center">          
              <!-- <div><i class="fa-solid fa-pencil text-black" type="button" data-bs-toggle="modal" data-bs-target="#modal-experiencia"></i></div> -->
              <app-modal-experiencia></app-modal-experiencia>
              <div><i class="fa-solid fa-xmark text-black btn-close" type="button" (click)="eliminarExperiencia(experiencia.id)"></i></div>
            </div>
        </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <img src="assets/img/compumagia.jpg" class="img-thumbnail img-fluid" alt="..." title="...">
      </div> 
    </div>

  </div>
</section>