<div class="modal fade" id="modal-aptitudes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Conocimientos y aptitudes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>

          <form [formGroup]="form" (ngSubmit)="form.valid && onCreate()" name="aptitudesForm">
            <div class="modal-body">

              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="aptitudesAp" class="col-form-label">Aptitudes</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="aptitudesAp" placeholder = "Habilidades" formControlName="aptitud" [(ngModel)] = "aptitud" [ngClass]="{'is-invalid': Aptitud?.errors && Aptitud?.touched, 'is-valid': !Aptitud?.errors && Aptitud?.touched}">
                </div>
                <div *ngIf="Aptitud?.errors && Aptitud?.touched">
                  <p *ngIf="Aptitud?.hasError('required')" class="text-danger"> La Aptitud es requerida </p>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
              </div> 
            </div>
          </form>
      </div>
    </div>
</div>      