<section id="presentacion" class="about">
  <div class="container text-center">
  <h3>Presentación Personal</h3><i class="fa-solid fa-plus text-black" type="button" data-bs-toggle="modal" data-bs-target="#modal-presentacion"></i>
  <app-modal-presentacion></app-modal-presentacion>
  <div class="row" *ngFor="let persona of personas">
      <div class="col-lg-3">
        <img [src] = "persona.imagen" class="img-thumbnail rounded-circle w-75" alt="..." title="...">
      </div>
      <div>
        <div class="col-9 mt-5">
          <i class="text-white text-center intro wt-5 pt-5">
            <br>{{ persona.nombre }}
            <br>{{ persona.presentacion }}
          </i>
        <div class="col-1 mt-2 container text-center">
          <!-- <div><i class="fa-solid fa-pencil text-white" type="button" data-bs-toggle="modal" data-bs-target="#modal-presentacion"></i></div> -->
          <div><i class="fa-solid fa-trash text-white" type="button" data-bs-toggle="modal" data-bs-target="#eliminar"></i></div>
        </div>
      </div>
    </div>
    <app-modal-presentacion></app-modal-presentacion>
  </div>
  </div>
</section>


<!-- <section id="presentacion" class="about">
  <div class="container text-center" *ngFor="let persona of personas">
  <div class="row">

      <div class="col-lg-3">
        <img [src] = "persona.imagen" class="img-thumbnail rounded-circle w-75" alt="..." title="...">
      </div>
      <div>

        <div class="col-9 mt-5">
          <i class="text-white text-center intro wt-5 pt-5">
            <br>{{ persona.nombre }} 
            <br>{{ persona.presentacion }} 
          </i>
          <div class="col-1 mt-2 container text-center">
            <div><i class="fa-solid fa-pencil text-white" type="button" data-bs-toggle="modal" data-bs-target="#modal-presentacion"></i></div>
            <div><i class="fa-solid fa-trash text-white" type="button" data-bs-toggle="modal" data-bs-target="#eliminar"></i></div>
          </div>
        </div>
        <app-modal-presentacion></app-modal-presentacion>
        
      </div>
  </div>
  </div>
</section> -->

<!-- <section id="presentacion" class="about">
  <div class="container text-center">
  <div class="row">
      <div class="col-lg-3">
        <img src="assets/img/Rosende.jpg" class="img-thumbnail rounded-circle w-75" alt="..." title="...">
        <div class="col-1 mt-2 container text-center">
          <div><i class="fa-solid fa-pencil text-white" type="button" data-bs-toggle="modal" data-bs-target="#modal-foto"></i></div>
          <div><i class="fa-solid fa-trash text-white" type="button" data-bs-toggle="modal" data-bs-target="#eliminar"></i></div>
        </div>

        <app-modal-foto></app-modal-foto>

      </div>
      <div class="col-9 mt-5">
        <i class="text-white text-center intro wt-5 pt-5">
          <br>{{ nombre }} {{ apellido }}
          <br>{{ presentacion }}
        </i>
        <div class="col-1 mt-2 container text-center">
          <div><i class="fa-solid fa-pencil text-white" type="button" data-bs-toggle="modal" data-bs-target="#modal-presentacion"></i></div>
          <div><i class="fa-solid fa-trash text-white" type="button" data-bs-toggle="modal" data-bs-target="#eliminar"></i></div>
        </div>

        <app-modal-presentacion></app-modal-presentacion>

      </div>
  </div>
  </div>
</section> -->
