<section id="experiencia" class="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-8 mt-4">
        <h3>Experiencia laboral</h3>
        <div *ngFor="let experi of experienciasList">
          <h6 class="wt-1 pt-2">
            {{ experi.puesto }} - {{ experi.empresa }} - {{ experi.duracion }} - {{ experi.inicio }} / {{ experi.fin }}
          </h6>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="assets/img/compumagia.jpg" class="img-thumbnail img-fluid" alt="..." title="...">
      </div> 
    </div>
  </div>
</section>