<section id="presentacion" class="about">
  <div class="container text-center" *ngFor="let persona of personas">
  <div class="row">

      <div class="col-lg-3">
        <img [src] = "persona.imagen" class="img-thumbnail rounded-circle w-75" alt="..." title="...">
      </div>

        <div class="col-9 mt-5">
          <i class="text-white text-center intro wt-5 pt-5">
            <br>{{ persona.nombre }} 
            <br>{{ persona.presentacion }} 
          </i>
        </div>

  </div>
  </div>
</section>



