
<nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logoap3.png" alt="" width="150" height="90">
    </a>  
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a href="https://www.instagram.com/88julieta88/" target="_blank"><i class="fa-brands fa-instagram fa-2xl text-black"></i></a></li>
      <li class="list-group-item"><a href="https://www.linkedin.com/in/julietarosende" target="_blank"><i class="fa-brands fa-linkedin fa-2xl text-black"></i></a></li>
      <li class="list-group-item"><a href="https://github.com/Julieta1988" target="_blank"><i class="fa-brands fa-github fa-2xl text-black"></i></a></li>
      <!-- Button que cierra sesion -->
      <li class="list-group-item"><a routerLink="/inicio"><i class="fa-solid fa-lock-open fa-2xl text-black"></i></a></li><!--routerLink="/index es provisorio -->
    </ul>
    <!--cierran las redes-->
  </div>
</nav>